.Temp {
    width: 200px;
    height: 250px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000;

    &:hover {
        background-color: #00000050;
    }

    img {
        width: 100%;
        height: 100%;
    }
}