.Inputholder {
    width:100%;

    .Inputbox {
        border: none;
        border-bottom: 1px solid grey;
        width: 100%;
        font-size:14px;
        &:focus {
            outline: none;
        }
    }
}