@import "../../global.scss";

.Container {
    display: flex;
    place-items: center;
    min-height: calc(100vh - 80px);

    .subContainer {
        height:700px;
        width:700px;
        
        margin-left: 100px;

        .Heading {
            display: flex;
            justify-content:space-between;
            align-items: center;
            
            p {
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;

                &:hover {
                    text-transform: underline;
                }
            }
    
        }

        .Addnew {
            width: 700px;
            height: 60px;
            margin-top :40px;
            border: 1px dashed #9F9F9F;
            box-sizing: border-box;
            border-radius: 8px;
            display:flex;
            justify-content: center;
            align-items: center;
            color: $primaryColor;
            cursor: pointer;

            p{
                
            }
        }

        .box {
            margin-top :40px;
            padding: 40px;
            box-shadow: 9px 9px 32px 4px rgba(219, 219, 219, 0.31);
            border-radius: 10.7993px;

            .closeButton {
                display: flex;
                justify-content: end;
                cursor: pointer;
                color: #7D7D7D;
            }

            .inner {
                display:flex;
                justify-content: space-between;

                .information {
                    h2 {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                    }

                    p {
                        margin-top: 10px;
                        font-weight: 400;
                        font-size: 13.4195px;
                        line-height: 16px;

                    }
                }
                .icons {
                    display: flex;
                    gap:10px;
                }
            }

            .basicForm {
                display: flex;

                .profileForm {
                    
                    margin-right: 40px;

                    .dropzone {
                        background-color:#eee5e5;
                        width: 170px;
                        height: 170px;
                        display:grid;
                        place-items: center;
                        transition: 0.5s ease-in-out;
                        cursor: pointer;
                        &:hover {
                            background-color:#d3cdcd;
                            transition: 0.5s ease-in-out;
                        }

                    }
                }

                .info {
                    width: -webkit-fill-available;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }

            .contact {
                margin-top: 20px;

                .flex {
                    margin-top: 30px;
                    width: 100%;
                    display: flex;
                    gap: 50px;
                }
            }

            .checkholder {
                display: flex;
                margin-top: 20px;
                justify-content: end;
                margin-right: 70px;

                .check {
                    gap:5px;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #7D7D7D;

                }
            }
        }

        .buttonHolder {
            margin-top: 20px;
            justify-content: end;
            display: flex;
        }
    }

}