@import '../../global.scss';

.sidebar {
    height:calc(100vh - 100px);
    display: grid;
    place-items: center;
    width:30%;

    .OptionContainer {
        display: flex;
        width: 100%;
        
        .Option {
            margin-left: 40px;


            .CardOuter {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                .CardInner {
                    width: 90px;
                    height: 120px;
                    border: 0.5px solid #1EA5FC;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .Icon {
                        border: 0.5px solid grey;
                        padding: 3px;
                        border-radius: 100%;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                        
                    }
                }
            }
        }

    }
}