@import '../../global.scss';

.sidebar {
    height:calc(100vh - 100px);
    display: grid;
    place-items: center;
    width:30%;

    .OptionContainer {
        display: flex;
        width: 100%;
        
        .Option {
            margin-left: 40px;
        }
    }
}