@import '../../global.scss';
.EditResume {
    .newResume {
                margin-top: 20px;
                display:flex;

                .box {
                    width: 166px;
                    height: 234px;
                    background: #FEFEFE;
                    border: 1px solid #1EA5FC;
                    box-sizing: border-box;
                    
                    .boxInner {
                        text-align: center;
                        width: 100%;
                        height: 100%;

                        img {
                            object-fit: contain;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }

                .boxDetails {
                    padding:10px;
                    display:grid;

                    span {
                        font-weight: 700;
                        color: $primaryColor;
                    }
                    p{
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
            }
}